.cabeçalho {
    background-color: #FFEBEB;
    color: #9E1818;
    display: flex;
    padding: 24px;
    font-size: 20px;
    justify-content: space-around;
    }
    *{
    margin: 0;
    padding: 0;
    }
    .cabeçalhoimagem {
    width: 8%;
    height: 8%;
    }
    .cabeçalholista {
    justify-content: center;
    }
    .sobre-a-academia {
    background-image: linear-gradient(#FFEBEB,#9E1818);
    color: white;
    font-size: 20px;
    padding: 0px 250px;
    }
    .sobre-a-academia {
    padding: 24px 0px;
    }
    .cardápio {
    background-image: linear-gradient(#FFEBEB,#9E1818);
    color: white;
    font-size: 20px;
    padding: 0px 250px;
    }
    .cardápio-da-semana {
    padding: 24px 0px;
    }
    .galeria {
    background-image: linear-gradient(#FFEBEB,#9E1818);
    color: white;
    
    font-size: 20px;
    padding: 0px 250px;
    }
    .fotos {
    width: 1%;
    height: 1%;
    }